@{
    ViewBag.Title = "Step3 - Creating an external Helper Methods";
    ViewBag.Description = "Without Using @using statement and using Views/web.config file. " +
                "Once After doing that one, Html extention methods will be available in all Views";
}


<hr />
<p>@ViewBag.Title</p>
<p>@ViewBag.Description</p>
<hr />

<p>Fruits</p>
@Html.ListArrayData((string[])ViewBag.Fruits);

<p>States</p>
@Html.ListArrayData((string[])ViewBag.States);