@model string

@{
    ViewBag.Title = "Step5";
    ViewBag.Description = "Managing String Encoding in a Helper Method";
}

<hr />
<p>@ViewBag.Title</p>
<p>@ViewBag.Description</p>
<hr />

<div>
    <p>@Html.DisplayMessage((string)@Model)</p>
</div>
