

@{
    ViewBag.Title = "Step7";
    ViewBag.Description = "Encoding Helper Method Content";
}

<hr />
<p>@ViewBag.Title</p>
<p>@ViewBag.Description</p>
<hr />


<div>
    @Html.DisplayMessageEncode((string)@Model)
</div>