@{
    ViewBag.Title = "Step6";
    ViewBag.Description = "Encoding Helper Method Content";
}

<hr />
<p>@ViewBag.Title</p>
<p>@ViewBag.Description</p>
<hr />



<div>
    @Html.DisplayMessageStringFormat((string)@Model)
</div>
