@model HelperMethods.Models.Person

@{
    ViewBag.Title = "Why StronglyTyped";
}

<h2>@ViewBag.Title</h2>

<hr />
<div>
    <h4>Viewbag</h4>
    <hr />
    <pre> <b>    FirstName: </b> <u> @ViewBag.FirstName </u> </pre>
    <hr />
    <h4>Person</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            FirstName
        </dt>

        <dd>
            <b><font color="red">@Html.Display("FirstName");</font> </b>
        </dd>

        <dt>
            LastName
        </dt>

        <dd>
            @Html.Display("LastName")
        </dd>

    </dl>
</div>

