@model string
@{
    Layout = null;
    ViewBag.Title = "Using Inline HTML Helper";
    //    ViewBag.Description =
    //  "1. The simplest kind of helper method is an inline helper, which is defined within a view.\n"
    //+ "2. We can create an inline helper to simplify our example view using the @helper tag. \n"
    //+ "3. Although an inline helper looks like a method, there is no return value. \n"
    //+ "4. The contents of the helper body are processed and put into the response to the client.";
}

<hr />
<p><b>@ViewBag.Title</b></p>
<p>@*@ViewBag.Description*@</p>
<hr />

@***************************************
    ********* Inline Helper Method *********
    ***************************************@

@helper ListArrayItems(string[] items)
    {
        foreach (string str in items)
        {
            <li>@str </li>
        }
}

@**************************************@

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        Fruits: @ListArrayItems(ViewBag.Fruits)
    </div>

    <div>
        Cities: @ListArrayItems(ViewBag.Cities)
    </div>
    <div>

        <p>Message: @Model</p>
    </div>
</body>
</html> 