@model string

@{
    Layout = null;
    ViewBag.Title = "Using helper methods to use across multiple views";
}

<hr />
<p><b>@ViewBag.Title</b></p>
<hr />

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        Fruits: @InlineHelperCode.ListArrayItems_AppData(ViewBag.Fruits)
    </div>
    <p></p>
    <div>
        Cities: @InlineHelperCode.ListArrayItems_AppData(ViewBag.Cities)
    </div>
    <div>

        <p>Message: @Model</p>
    </div>
</body>
</html> 